In [2]:
import pandas as pd
import sqlite3
import dask.dataframe as dd

In [5]:
df = pd.read_csv('D:\\Downloads\\ebd_US_relAug-2022\\ebd_US_relAug-2022.txt\\ebd_US_relAug-2022.txt',sep='\t', chunksize=1000)

In [17]:
df = dd.read_table('D:\\Downloads\\ebd_US_relAug-2022\\ebd_US_relAug-2022.txt\\ebd_US_relAug-2022.txt',dtype={'AGE/SEX': 'object',
       'ATLAS BLOCK': 'object',
       'BCR CODE': 'float64',
       'EXOTIC CODE': 'object',
       'GROUP IDENTIFIER': 'object',
       'USFWS CODE': 'object',
        'REASON': 'object'})

In [18]:
df

Dask DataFrame Structure:
                 GLOBAL UNIQUE IDENTIFIER LAST EDITED DATE TAXONOMIC ORDER CATEGORY TAXON CONCEPT ID COMMON NAME SCIENTIFIC NAME SUBSPECIES COMMON NAME SUBSPECIES SCIENTIFIC NAME EXOTIC CODE OBSERVATION COUNT BREEDING CODE BREEDING CATEGORY BEHAVIOR CODE AGE/SEX COUNTRY COUNTRY CODE   STATE STATE CODE  COUNTY COUNTY CODE IBA CODE BCR CODE USFWS CODE ATLAS BLOCK LOCALITY LOCALITY ID LOCALITY TYPE LATITUDE LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED OBSERVER ID SAMPLING EVENT IDENTIFIER PROTOCOL TYPE PROTOCOL CODE PROJECT CODE DURATION MINUTES EFFORT DISTANCE KM EFFORT AREA HA NUMBER OBSERVERS ALL SPECIES REPORTED GROUP IDENTIFIER HAS MEDIA APPROVED REVIEWED  REASON TRIP COMMENTS SPECIES COMMENTS
npartitions=4686
                                   object           object           int64   object           object      object          object                 object                     object      object            object        object            object        object  object  object       object  object     object  object      object   object  float64     object      object   object      object        object  float64   float64           object                    object      object                    object        object        object       object          float64            float64        float64          float64                int64           object     int64    int64    int64  object        object           object
                                      ...              ...             ...      ...              ...         ...             ...                    ...                        ...         ...               ...           ...               ...           ...     ...     ...          ...     ...        ...     ...         ...      ...      ...        ...         ...      ...         ...           ...      ...       ...              ...                       ...         ...                       ...           ...           ...          ...              ...                ...            ...              ...                  ...              ...       ...      ...      ...     ...           ...              ...
...                                   ...              ...             ...      ...              ...         ...             ...                    ...                        ...         ...               ...           ...               ...           ...     ...     ...          ...     ...        ...     ...         ...      ...      ...        ...         ...      ...         ...           ...      ...       ...              ...                       ...         ...                       ...           ...           ...          ...              ...                ...            ...              ...                  ...              ...       ...      ...      ...     ...           ...              ...
                                      ...              ...             ...      ...              ...         ...             ...                    ...                        ...         ...               ...           ...               ...           ...     ...     ...          ...     ...        ...     ...         ...      ...      ...        ...         ...      ...         ...           ...      ...       ...              ...                       ...         ...                       ...           ...           ...          ...              ...                ...            ...              ...                  ...              ...       ...      ...      ...     ...           ...              ...
                                      ...              ...             ...      ...              ...         ...             ...                    ...                        ...         ...               ...           ...               ...           ...     ...     ...          ...     ...        ...     ...         ...      ...      ...        ...         ...      ...         ...           ...      ...       ...              ...                       ...         ...                       ...           ...           ...          ...              ...                ...            ...              ...                  ...              ...       ...      ...      ...     ...           ...              ...
Dask Name: read-csv, 4686 tasks

In [9]:
df.head()

,GLOBAL UNIQUE IDENTIFIER,LAST EDITED DATE,TAXONOMIC ORDER,CATEGORY,TAXON CONCEPT ID,COMMON NAME,SCIENTIFIC NAME,SUBSPECIES COMMON NAME,SUBSPECIES SCIENTIFIC NAME,EXOTIC CODE,...,EFFORT AREA HA,NUMBER OBSERVERS,ALL SPECIES REPORTED,GROUP IDENTIFIER,HAS MEDIA,APPROVED,REVIEWED,REASON,TRIP COMMENTS,SPECIES COMMENTS
0,URN:CornellLabOfOrnithology:EBIRD:OBS265484922,2021-03-30 00:20:41.916545,11374,issf,avibase-6B7F47D8,Northern Flicker,Colaptes auratus,Northern Flicker (Yellow-shafted),Colaptes auratus auratus/luteus,NaN,...,NaN,1.0,1,NaN,0,1,0,NaN,NaN,NaN
1,URN:CornellLabOfOrnithology:EBIRD:OBS509189087,2021-03-25 20:48:39.476105,303,species,avibase-B59E1863,Canada Goose,Branta canadensis,NaN,NaN,NaN,...,NaN,4.0,1,NaN,0,1,0,NaN,"Historical data from 1993 computer print-out, ...",21 at Inner Harbor; 28 at Outer Harbor
2,URN:CornellLabOfOrnithology:EBIRD:OBS509189088,2021-03-25 20:48:39.476105,663,species,avibase-68EA281A,Common Goldeneye,Bucephala clangula,NaN,NaN,NaN,...,NaN,4.0,1,NaN,0,1,0,NaN,"Historical data from 1993 computer print-out, ...",fem./imm. off La Rabida campus
3,URN:CornellLabOfOrnithology:EBIRD:OBS571166222,2021-03-26 09:17:43.931549,33040,species,avibase-BC5A9498,Yellow-rumped Warbler,Setophaga coronata,NaN,NaN,NaN,...,NaN,1.0,1,NaN,0,1,0,NaN,NaN,NaN
4,URN:CornellLabOfOrnithology:EBIRD:OBS583785975,2021-04-01 17:52:32.050575,5359,species,avibase-4FB248BA,American Coot,Fulica americana,NaN,NaN,NaN,...,NaN,1.0,1,NaN,0,1,0,NaN,NaN,NaN

In [ ]:
df.to_csv('allbirds.csv', name_function=name)